*{
    font-family: Papyrus, fantasy;
    background-color: blanchedalmond;
}


.recipe-list > *{
    background-color:darksalmon;
    border: 2px solid black;
    padding: 45px;
    margin: auto;
    
}

.recipe-list{
    display: inline-block;
    padding: 25px;
}